@keyframes slideInUp {

  from {
    transform: translate3d(0, 20%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.project {
  opacity: 0;
  animation: slideInUp 1s forwards;
}
